{
	admin off
}

http://localhost:60000 {
	handle {
		root * result
		file_server
		encode zstd gzip
		header Cache-Control=86400
	}
	header {
		Permissions-Policy "accelerometer=(), autoplay=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), xr-spatial-tracking=(), clipboard-read=(), clipboard-write=()"
		Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self'; form-action 'self'; base-uri 'self'; frame-ancestors 'none'"
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
		X-Permitted-Cross-Domain-Policies none
	}
}
