{% import "macros/head.html" as head -%}
{% import "macros/logo.html" as logo -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/posts.html" as posts -%}
{% import "macros/social.html" as social -%}
{% import "macros/utils.html" as utils -%}
{% import "macros/menu.html" as menu -%}
{% import "macros/pagination.html" as pagination -%}
{% import "macros/footer.html" as footer -%}
{% import "macros/comments.html" as comments -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}

        {%- block general_meta -%}
            {{ head::general_meta() }}
        {%- endblock general_meta -%}

        {%- block og_preview -%}
            {{ social::og_preview() }}
        {%- endblock og_preview -%}

        {%- block css -%}
            {{ head::styling() }}
        {%- endblock css -%}

        {%- block favicon -%}
            {{ head::favicon() }}
        {%- endblock favicon -%}

        {%- block rss -%}
            {{ head::rss() }}
        {%- endblock rss -%}

        {%- block math -%}
        {%- endblock math -%}

        <script src="/webrings/be-crime-do-gay-webring/nav.js"></script>
    </head>
    <body class="gay">
        {#
        "container full" when width == True, regardless of center
        "container center" when only center == True
        "container" when both false.
        #}
        {%- if config.extra.full_width -%}
            {%- set container = "container full" -%}
        {%- elif config.extra.center -%}
            {%- set container = "container center" -%}
        {%- else -%}
            {%- set container = "container" -%}
        {%- endif -%}

        <header>
            {%- block logo -%}
                {{ logo::logo() }}
            {%- endblock logo -%}

            {# Check if there are menu items to render, yes if > 0 #}
            {%- set num = config.extra.main_menu | length -%}
            {% if num > 0 -%}
                {{ menu::menu() }}
            {% endif -%}
        </header>
        <main class="{{ container }}">
            {%-  block main -%}
                <article class="post">
                    <header>
                        <h1 class="post-title">
                            <a href="{{ page.permalink  }}">{{ page.title }}</a>
                        </h1>

                        {{ posts::meta(page=page) }}
                        {{ posts::langs(page=page) }}

                    </header>

                    {{ page.content | safe }}
                </article>
                <footer>
                    <noscript>
                        <p class="important">Navigation of the <i>Be crime do gay</i> webring <strong>requires</strong> JavaScript. Please <strong>enable JavaScript</strong> to navigate the webring.</p>
                    </noscript>
                    <nav style="display: flex; justify-content: space-evenly;">
                        <a id="webring_prev" href={prev_site}>← Go left</a>
                        <a id="webring_next" href={next_site}> Go right →</a>
                    </nav>
                </footer>
            {%- endblock main -%}
        </main>
        {%- block footer -%}
            <footer class="{{ container }}">
                {%- block copyright -%}
                    {{ footer::copyright() }}
                {%- endblock copyright -%}

                {%- block credit -%}
                    {{ footer::credit() }}
                {%- endblock credit -%}
            </footer>
        {%- endblock footer -%}
    </body>
</html>

