{% import "macros/head.html" as head -%}
{% import "macros/toc.html" as toc -%}
{% extends "base.html" -%}

{%- block math -%}
  {% if page.extra.math %}
  {{ head::katex() }}
  {% endif %}
{%- endblock math -%}

{%- block title %}
    <title>{{ page.title }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h1>

            {{ posts::meta(page=page) }}
            {{ posts::langs(page=page) }}

            {%- block toc -%}
                {%- if page.extra.toc or config.extra.toc -%}
                    {{ toc::toc(t=page.toc) }}
                {%- endif -%}
            {%- endblock toc -%}
        </header>

        {{ page.content | safe }}

        <noscript>
            <p class="important">Calculation of the column <i>Duration used</i> in the following table <strong>requires</strong> JavaScript. Please <strong>enable JavaScript</strong> to see the contents of that column.</p>
        </noscript>

        <table id="linux-journey">
            <thead>
                <tr>
                    <th>Date installed</th>
                    <th>Duration used (d)</th>
                    <th>
                        <abbr title="operating system">OS</abbr>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for distro in page.extra.distros %}
                    <tr>
                        <td>{% if distro.date.installed.approximate %}≅{% else %}={% endif %}{{ distro.date.installed.value }}</td>
                        <td>
                        </td>
                        <td>
                            <a href="{{ distro.website }}">{{ distro.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="duration-used.js"></script>

        {{ comments::comments() }}
        {# TODO: Decide if any sort of commenting functionality is desired? #}
        {#%- include "snippets/comments.html"  -%#}
    </article>
{%- endblock main -%}
